Repository irisnet/irismod, pull requests merged in 2021-07, with the labels that each got.

#201 Update msgRequestRandom
  modules/random/simulation/operations.go
  simapp/app.go
Labels: automerge, modules/random, test

#200 Add msgIssueDenom
  modules/farm/simulation/operations.go
  modules/nft/simulation/operations.go
Labels: automerge, modules/nft, test

#189 Enhance nft module
  modules/nft/client/cli/cli_test.go
  modules/nft/client/cli/flags.go
  modules/nft/client/cli/tx.go
  modules/nft/client/rest/grpc_query_test.go
  modules/nft/client/rest/rest.go
  modules/nft/client/rest/tx.go
  modules/nft/client/testutil/test_helpers.go
  modules/nft/handler.go
  modules/nft/keeper/collection.go
  modules/nft/keeper/collection_test.go
  modules/nft/keeper/denom.go
  modules/nft/keeper/grpc_query.go
  modules/nft/keeper/keeper.go
  modules/nft/keeper/keeper_test.go
  modules/nft/keeper/msg_server.go
  modules/nft/keeper/owners.go
  modules/nft/keeper/querier_test.go
  modules/nft/simulation/genesis.go
  modules/nft/simulation/operations.go
  modules/nft/spec/02_messages.md
  modules/nft/spec/03_events.md
  modules/nft/spec/README.md
  modules/nft/types/codec.go
  modules/nft/types/denom.go
  modules/nft/types/events.go
  modules/nft/types/genesis.pb.go
  modules/nft/types/msgs.go
  modules/nft/types/nft.pb.go
  modules/nft/types/query.pb.go
  modules/nft/types/tx.pb.go
  proto/nft/nft.proto
  proto/nft/tx.proto
Labels: enhancement, modules/nft

#204 Add pagination for query
  modules/farm/client/cli/cli_test.go
  modules/farm/client/cli/query.go
  modules/farm/client/rest/grpc_query_test.go
  modules/farm/client/testutil/test_helper.go
  modules/farm/keeper/grpc_query.go
  modules/farm/types/query.pb.go
  modules/farm/types/query.pb.gw.go
  proto/farm/query.proto
Labels: enhancement, farm

#206 Fix some farm module bugs
  modules/farm/client/cli/flags.go
  modules/farm/client/cli/query.go
  modules/farm/client/cli/tx.go
  modules/farm/keeper/pool.go
  modules/farm/types/farm.go
  modules/farm/types/genesis.go
  modules/farm/types/msgs.go
  modules/farm/types/validation.go
Labels: bug, farm

#207 Fix not check rewardPerBlock params error
  modules/farm/keeper/pool.go
  modules/farm/types/farm.go
Labels: bug, farm

#203 Remove name condition restriction
  modules/nft/keeper/denom.go
  modules/nft/types/errors.go
  modules/nft/types/msgs.go
  modules/nft/types/validation.go
Labels: enhancement, modules/nft

#208 Add restriction to DenomID
  modules/nft/types/validation.go
Labels: enhancement, modules/nft

#209 Fix nft-test-unit bug
  modules/nft/types/validation.go
Labels: automerge, modules/nft, test

#210 Fix gen swagger docs error
  modules/farm/client/cli/cli_test.go
  modules/farm/client/cli/query.go
  modules/farm/client/rest/grpc_query_test.go
  modules/farm/keeper/grpc_query.go
  modules/farm/types/farm.pb.go
  modules/farm/types/genesis.pb.go
  modules/farm/types/query.pb.go
  modules/farm/types/query.pb.gw.go
  modules/farm/types/tx.pb.go
  proto/farm/query.proto
Labels: automerge, bug, farm

#213 Fix transfer nft bug
  modules/nft/client/cli/tx.go
  modules/nft/client/testutil/test_helpers.go
  modules/nft/keeper/keeper.go
Labels: bug, modules/nft

#215 Modify FsIssueToken
  modules/token/client/cli/flags.go
Labels: automerge, bug, modules/token
