Repository irisnet/irismod, pull requests merged in 2021-06, with the labels that each got.

#173 Add coinswap simulation test
  modules/coinswap/module.go
  modules/coinswap/simulation/genesis.go
  modules/coinswap/simulation/operations.go
  modules/coinswap/simulation/params.go
  modules/coinswap/types/expected_keepers.go
  simapp/app.go
  simapp/sim_test.go
Labels: modules/coinswap, test

#178 Fix farm bug
  modules/farm/client/cli/cli_test.go
  modules/farm/client/rest/grpc_query_test.go
  modules/farm/keeper/grpc_query.go
  modules/farm/keeper/keeper.go
  modules/farm/keeper/pool.go
  modules/farm/types/errors.go
  modules/farm/types/expected_keeper.go
  modules/farm/types/genesis.pb.go
  modules/farm/types/keys.go
  modules/farm/types/query.pb.go
  modules/farm/types/validation.go
  proto/farm/genesis.proto
  proto/farm/query.proto
  simapp/app.go
Labels: bug, farm

#187 Fix invariant error
  modules/farm/keeper/queue.go
  modules/farm/types/keys.go
  modules/farm/types/validation.go
Labels: automerge, bug, farm

#185 Refund shoule be in endblocker not begin blocker
  modules/farm/abci.go
  modules/farm/client/cli/cli_test.go
  modules/farm/client/rest/grpc_query_test.go
  modules/farm/keeper/keeper_test.go
  modules/farm/keeper/msg_server.go
  modules/farm/keeper/pool.go
  modules/farm/module.go
  modules/farm/types/farm.go
  modules/farm/types/farm_test.go
  simapp/app.go
Labels: automerge, bug, farm

#182 Update farm protobuf
  modules/farm/keeper/msg_server.go
  modules/farm/keeper/params.go
  modules/farm/types/farm.pb.go
  modules/farm/types/genesis.go
  modules/farm/types/params.go
  proto/farm/farm.proto
Labels: automerge, farm

#188 Add farm-simulation-test
  modules/farm/keeper/farm_info.go
  modules/farm/keeper/keeper_test.go
  modules/farm/keeper/queue.go
  modules/farm/module.go
  modules/farm/simulation/decoder.go
  modules/farm/simulation/genesis.go
  modules/farm/simulation/operations.go
  modules/farm/types/expected_keeper.go
  simapp/app.go
Labels: farm, test

#181 Add farm spec
  modules/farm/spec/01_state.md
  modules/farm/spec/02_messages.md
  modules/farm/spec/03_events.md
  modules/farm/spec/04_params.md
  modules/farm/spec/README.md
  modules/service/spec/04_params.md
Labels: automerge, documentation, farm

#190 Fix some bug
  modules/farm/genesis.go
  modules/farm/keeper/grpc_query.go
  modules/farm/keeper/keeper_test.go
  modules/farm/keeper/pool.go
  modules/farm/keeper/queue.go
  modules/farm/simulation/operations.go
  modules/farm/types/farm.go
  modules/farm/types/farm_test.go
Labels: automerge, bug, farm

#194 Allow adjustment of reward rules
  modules/farm/abci.go
  modules/farm/client/cli/cli_test.go
  modules/farm/client/cli/flags.go
  modules/farm/client/cli/tx.go
  modules/farm/client/rest/grpc_query_test.go
  modules/farm/client/testutil/test_helper.go
  modules/farm/genesis.go
  modules/farm/handler.go
  modules/farm/keeper/farmer.go
  modules/farm/keeper/grpc_query.go
  modules/farm/keeper/keeper.go
  modules/farm/keeper/keeper_test.go
  modules/farm/keeper/msg_server.go
  modules/farm/keeper/pool.go
  modules/farm/keeper/queue.go
  modules/farm/simulation/operations.go
  modules/farm/spec/01_state.md
  modules/farm/spec/02_messages.md
  modules/farm/spec/03_events.md
  modules/farm/spec/README.md
  modules/farm/types/codec.go
  modules/farm/types/errors.go
  modules/farm/types/farm.go
  modules/farm/types/farm.pb.go
  modules/farm/types/farm_test.go
  modules/farm/types/keys.go
  modules/farm/types/msgs.go
  modules/farm/types/query.pb.go
  modules/farm/types/tx.pb.go
  modules/farm/types/validation.go
  proto/farm/farm.proto
  proto/farm/query.proto
  proto/farm/tx.proto
Labels: enhancement, farm

#196 Add record simulation test
  go.sum
  modules/record/simulation/operations.go
  simapp/app.go
  simapp/helpers/test_helpers.go
Labels: automerge, modules/record, test

#192 Add service module simulation test
  modules/service/simulation/decoder.go
  modules/service/simulation/operations.go
  modules/service/simulation/params.go
  simapp/app.go
Labels: automerge, modules/service, test

#197 Add msgAdjustPool simulation test
  modules/farm/simulation/operations.go
Labels: farm, test

#198 Add oracle simulation test
  modules/oracle/keeper/keeper.go
  modules/oracle/keeper/keeper_test.go
  modules/oracle/module.go
  modules/oracle/simulation/decoder.go
  modules/oracle/simulation/operation.go
  modules/oracle/types/expected_keepers.go
  modules/service/simulation/operations.go
  simapp/app.go
Labels: automerge, modules/service, test
