Repository irisnet/irismod, pull requests merged in 2021-08, with the labels that each got.

#216 Version bumps
  go.mod
  go.sum
Labels: dependencies

#218 SDK 0.42.9
  go.mod
  go.sum
Labels: dependencies

#219 Refactor coinswap
  modules/coinswap/client/rest/grpc_query_test.go
  modules/coinswap/client/rest/tx.go
  modules/coinswap/keeper/grpc_query.go
  modules/coinswap/keeper/keeper.go
  modules/coinswap/keeper/keeper_test.go
  modules/coinswap/keeper/pool.go
  modules/coinswap/keeper/querier.go
  modules/coinswap/keeper/querier_test.go
  modules/coinswap/keeper/swap.go
  modules/coinswap/keeper/swap_test.go
  modules/coinswap/migrations/v150/migrate.go
  modules/coinswap/migrations/v150/migrate_test.go
  modules/coinswap/migrations/v150/types.go
  modules/coinswap/simulation/operations.go
  modules/coinswap/types/coinswap.pb.go
  modules/coinswap/types/keys.go
  modules/coinswap/types/msgs.go
  modules/coinswap/types/tx.pb.go
  modules/coinswap/types/utils.go
  modules/coinswap/types/validation.go
  proto/coinswap/coinswap.proto
  proto/coinswap/query.proto
Labels: modules/coinswap, automerge

#220 Export coinswap pool
  modules/coinswap/client/rest/grpc_query_test.go
  modules/coinswap/genesis.go
  modules/coinswap/keeper/genesis.go
  modules/coinswap/keeper/genesis_test.go
  modules/coinswap/keeper/grpc_query.go
  modules/coinswap/keeper/pool.go
  modules/coinswap/keeper/querier.go
  modules/coinswap/keeper/querier_test.go
  modules/coinswap/module.go
  modules/coinswap/types/genesis.go
  modules/coinswap/types/genesis.pb.go
  modules/coinswap/types/utils.go
  modules/coinswap/types/validation.go
  modules/token/types/validation.go
  modules/token/types/validation_test.go
  proto/coinswap/genesis.proto
Labels: modules/coinswap

#221 Refactor coinswap module grpc
  modules/coinswap/client/rest/grpc_query_test.go
  modules/coinswap/client/rest/query.go
  modules/coinswap/keeper/grpc_query.go
  modules/coinswap/keeper/querier.go
  modules/coinswap/keeper/querier_test.go
  modules/coinswap/types/querier.go
  modules/coinswap/types/query.pb.go
  modules/coinswap/types/query.pb.gw.go
  modules/token/types/validation.go
  proto/coinswap/query.proto
Labels: modules/coinswap

#222 Fix the problem that an error occurs when individually modifying the block reward
  modules/farm/abci.go
  modules/farm/client/cli/cli_test.go
  modules/farm/client/cli/tx.go
  modules/farm/client/rest/grpc_query_test.go
  modules/farm/keeper/farmer.go
  modules/farm/keeper/grpc_query.go
  modules/farm/keeper/invariants.go
  modules/farm/keeper/keeper_test.go
  modules/farm/keeper/msg_server.go
  modules/farm/keeper/pool.go
  modules/farm/simulation/decoder.go
  modules/farm/simulation/operations.go
  modules/farm/types/farm.pb.go
  modules/farm/types/genesis.go
  modules/farm/types/msgs.go
  modules/farm/types/query.pb.go
  modules/farm/types/tx.pb.go
  proto/farm/farm.proto
  proto/farm/query.proto
  proto/farm/tx.proto
Labels: bug, automerge, farm

#223 Fix grpc conflict
  modules/coinswap/client/rest/grpc_query_test.go
  modules/coinswap/keeper/grpc_query.go
  modules/coinswap/keeper/querier.go
  modules/coinswap/keeper/querier_test.go
  modules/coinswap/types/query.pb.go
  modules/coinswap/types/query.pb.gw.go
  proto/coinswap/query.proto
Labels: modules/coinswap, automerge

#224 Remove the check of denomId in the query part
  modules/nft/client/cli/query.go
Labels: bug, automerge

#225 Fix query change rate
  modules/service/keeper/oracle_price.go
Labels: enhancement

#227 Add pagination flags for pools command
  modules/farm/client/cli/query.go
Labels: farm

#228 Add pagination flags
  modules/farm/client/cli/query.go
Labels: bug, automerge, farm
