Repository irisnet/irismod, pull requests merged in 2021-03, with the labels that each got.

#143 Fix output validation
  modules/service/keeper/invocation.go
  modules/service/keeper/keeper_test.go
Labels: bug, modules/service

#147 Update HTLC module spec
  modules/htlc/spec/01_state.md
  modules/htlc/spec/02_messages.md
  modules/htlc/spec/03_events.md
  modules/htlc/spec/04_params.md
  modules/htlc/spec/README.md
Labels: modules/htlc

#148 Update simapp and testsuit
  modules/coinswap/keeper/keeper_test.go
  modules/coinswap/keeper/querier_test.go
  modules/coinswap/keeper/swap_test.go
  simapp/app.go
  simapp/encoding.go
  simapp/export.go
  simapp/genesis.go
  simapp/test_helpers.go
Labels: test

#151 Update LP Token prefix to 'swap'
  CHANGELOG.md
  modules/coinswap/types/msgs.go
Labels: enhancement, modules/coinswap

#146 Refactor HTLC to support HTLT
  CHANGELOG.md
  modules/coinswap/types/params.go
  modules/coinswap/types/validation.go
  modules/htlc/abci.go
  modules/htlc/client/cli/cli_test.go
  modules/htlc/client/cli/flags.go
  modules/htlc/client/cli/query.go
  modules/htlc/client/cli/tx.go
  modules/htlc/client/rest/grpc_query_test.go
  modules/htlc/client/rest/query.go
  modules/htlc/client/rest/rest.go
  modules/htlc/client/rest/tx.go
  modules/htlc/client/testutil/test_helpers.go
  modules/htlc/genesis.go
  modules/htlc/genesis_test.go
  modules/htlc/handler.go
  modules/htlc/keeper/asset.go
  modules/htlc/keeper/asset_test.go
  modules/htlc/keeper/grpc_query.go
  modules/htlc/keeper/grpc_query_test.go
  modules/htlc/keeper/htlc.go
  modules/htlc/keeper/htlc_test.go
  modules/htlc/keeper/integration_test.go
  modules/htlc/keeper/keeper.go
  modules/htlc/keeper/keeper_test.go
  modules/htlc/keeper/msg_server.go
  modules/htlc/keeper/params.go
  modules/htlc/keeper/params_test.go
  modules/htlc/keeper/querier.go
  modules/htlc/module.go
  modules/htlc/types/cdc.go
  modules/htlc/types/errors.go
  modules/htlc/types/events.go
  modules/htlc/types/expected_keepers.go
  modules/htlc/types/genesis.go
  modules/htlc/types/genesis.pb.go
  modules/htlc/types/genesis_test.go
  modules/htlc/types/htlc.go
  modules/htlc/types/htlc.pb.go
  modules/htlc/types/htlc_test.go
  modules/htlc/types/keys.go
  modules/htlc/types/msgs.go
  modules/htlc/types/msgs_test.go
  modules/htlc/types/params.go
  modules/htlc/types/params_test.go
  modules/htlc/types/querier.go
  modules/htlc/types/query.pb.go
  modules/htlc/types/query.pb.gw.go
  modules/htlc/types/tx.pb.go
  modules/htlc/types/validation.go
  modules/service/types/service.pb.go
  proto/htlc/genesis.proto
  proto/htlc/htlc.proto
  proto/htlc/query.proto
  proto/htlc/tx.proto
  simapp/app.go
Labels: enhancement, modules/htlc

#152 Fix update service binding
  CHANGELOG.md
  modules/service/keeper/binding.go
Labels: automerge, bug, modules/service

#154 Add reserved token prefix
  CHANGELOG.md
  modules/token/types/validation.go
Labels: automerge, modules/htlc

#153 Fix query not-existent reserve pool
  CHANGELOG.md
  modules/coinswap/keeper/grpc_query.go
  modules/coinswap/keeper/keeper.go
  modules/coinswap/keeper/querier.go
  modules/coinswap/keeper/swap.go
Labels: modules/coinswap

#155 Fix min liquidity check in add liquidity
  CHANGELOG.md
  modules/coinswap/keeper/keeper.go
Labels: enhancement, modules/coinswap

#159 Bump up cosmos-sdk version to v0.42.2
  go.mod
  go.sum
Labels: automerge, dependencies

#158 Improve htlc
  CHANGELOG.md
  modules/htlc/keeper/htlc.go
  modules/htlc/keeper/msg_server.go
  modules/htlc/spec/01_state.md
  modules/htlc/spec/03_events.md
  modules/htlc/types/htlc.pb.go
  modules/htlc/types/params.go
  modules/htlc/types/tx.pb.go
  proto/htlc/htlc.proto
  proto/htlc/tx.proto
Labels: enhancement

#161 Fix coinswap wrong verification
  CHANGELOG.md
  modules/coinswap/client/rest/grpc_query_test.go
  modules/coinswap/client/rest/tx.go
  modules/coinswap/keeper/grpc_query.go
  modules/coinswap/keeper/keeper.go
  modules/coinswap/keeper/keeper_test.go
  modules/coinswap/keeper/querier.go
  modules/coinswap/keeper/swap_test.go
  modules/coinswap/types/genesis.go
  modules/coinswap/types/msgs_test.go
  modules/coinswap/types/params.go
  modules/coinswap/types/utils.go
  modules/coinswap/types/validation.go
Labels: automerge, bug, modules/coinswap

#162 Improve HTLT
  modules/htlc/keeper/htlc.go
  modules/htlc/types/errors.go
  modules/htlc/types/params.go
Labels: modules/htlc

#169 Fix errors
  modules/htlc/keeper/htlc.go
  modules/htlc/types/errors.go
  modules/htlc/types/validation.go
Labels: enhancement, modules/htlc

#168 Release v1.4.0
  CHANGELOG.md
Labels: release
