Repository irisnet/irismod, pull requests merged in 2022-09, with the labels that each got.

#309 refactor nft with cosmos-sdk nft module
  CHANGELOG.md
  go.mod
  modules/mt/client/cli/tx.go
  modules/mt/types/tx.pb.go
  modules/nft/client/cli/cli_test.go
  modules/nft/client/cli/query.go
  modules/nft/client/cli/tx.go
  modules/nft/genesis.go
  modules/nft/handler.go
  modules/nft/keeper/collection.go
  modules/nft/keeper/collection_test.go
  modules/nft/keeper/denom.go
  modules/nft/keeper/genesis.go
  modules/nft/keeper/grpc_query.go
  modules/nft/keeper/grpc_query_test.go
  modules/nft/keeper/invariants.go
  modules/nft/keeper/keeper.go
  modules/nft/keeper/keeper_test.go
  modules/nft/keeper/legacy_keeper.go
  modules/nft/keeper/migrations.go
  modules/nft/keeper/msg_server.go
  modules/nft/keeper/nft.go
  modules/nft/keeper/nft_test.go
  modules/nft/keeper/owners.go
  modules/nft/keeper/owners_test.go
  modules/nft/keeper/pagination_test.go
  modules/nft/keeper/querier.go
  modules/nft/keeper/querier_test.go
  modules/nft/migrations/v2/expected_keeper.go
  modules/nft/migrations/v2/keys.go
  modules/nft/migrations/v2/store.go
  modules/nft/migrations/v2/store_test.go
  modules/nft/module/module.go
  modules/nft/simulation/decoder.go
  modules/nft/simulation/operations.go
  modules/nft/types/codec.go
  modules/nft/types/denom.go
  modules/nft/types/errors.go
  modules/nft/types/genesis.go
  modules/nft/types/keys.go
  modules/nft/types/nft.go
  modules/nft/types/nft.pb.go
  modules/nft/types/owners.go
  modules/nft/types/querier.go
  modules/nft/types/query.pb.go
  modules/nft/types/query.pb.gw.go
  modules/nft/types/tx.pb.go
  modules/nft/types/validation.go
  modules/oracle/keeper/pagination_test.go
  modules/token/keeper/pagination_test.go
  proto/nft/nft.proto
  proto/nft/query.proto
  simapp/app.go
  simapp/test_helpers.go
Labels: enhancement, modules/nft

#310 remove unused rest api
  modules/coinswap/client/rest/query.go
  modules/coinswap/client/rest/rest.go
  modules/coinswap/client/rest/tx.go
  modules/coinswap/client/testutil/grpc_query_test.go
  modules/farm/client/rest/rest.go
  modules/farm/client/rest/tx.go
  modules/farm/client/testutil/grpc_query_test.go
  modules/htlc/client/rest/query.go
  modules/htlc/client/rest/rest.go
  modules/htlc/client/rest/tx.go
  modules/htlc/client/testutil/grpc_query_test.go
  modules/nft/client/rest/query.go
  modules/nft/client/rest/rest.go
  modules/nft/client/rest/tx.go
  modules/nft/client/testutil/grpc_query_test.go
  modules/oracle/client/rest/query.go
  modules/oracle/client/rest/rest.go
  modules/oracle/client/rest/tx.go
  modules/oracle/client/testutil/grpc_query_test.go
  modules/random/client/rest/query.go
  modules/random/client/rest/rest.go
  modules/random/client/rest/tx.go
  modules/random/client/testutil/grpc_query_test.go
  modules/record/client/rest/query.go
  modules/record/client/rest/rest.go
  modules/record/client/rest/tx.go
  modules/record/client/testutil/grpc_query_test.go
  modules/service/client/rest/query.go
  modules/service/client/rest/rest.go
  modules/service/client/rest/tx.go
  modules/service/client/testutil/grpc_query_test.go
  modules/token/client/rest/query.go
  modules/token/client/rest/rest.go
  modules/token/client/rest/tx.go
  modules/token/client/testutil/grpc_query_test.go
Labels: automerge

#308 Coinswap Upgrade based on Cosmos-SDK v0.46.1
  .github/workflows/wip.yml
  modules/coinswap/handler.go
  modules/coinswap/keeper/keeper.go
  modules/coinswap/keeper/keeper_test.go
  modules/coinswap/keeper/migrations.go
  modules/coinswap/keeper/msg_server.go
  modules/coinswap/keeper/pool.go
  modules/coinswap/keeper/querier.go
  modules/coinswap/keeper/querier_test.go
  modules/coinswap/keeper/swap.go
  modules/coinswap/keeper/swap_test.go
  modules/coinswap/migrations/v1/migrate.go
  modules/coinswap/migrations/v1/migrate_test.go
  modules/coinswap/migrations/v1/types.go
  modules/coinswap/migrations/v2/migrate.go
  modules/coinswap/migrations/v3/migrate.go
  modules/coinswap/module.go
  modules/coinswap/simulation/operations.go
  modules/coinswap/spec/01_state.md
  modules/coinswap/spec/02_messages.md
  modules/coinswap/spec/03_events.md
  modules/coinswap/spec/04_params.md
  modules/coinswap/spec/README.md
  modules/coinswap/types/codec.go
  modules/coinswap/types/coinswap.pb.go
  modules/coinswap/types/events.go
  modules/coinswap/types/msgs.go
  modules/coinswap/types/msgs_test.go
  modules/coinswap/types/params.go
  modules/coinswap/types/querier.go
  modules/coinswap/types/tx.pb.go
  modules/coinswap/types/utils.go
  modules/coinswap/types/validation.go
  modules/nft/keeper/pagination_test.go
  proto/coinswap/coinswap.proto
  proto/coinswap/tx.proto
Labels: enhancement, modules/coinswap

#313 fix some bugs
  modules/nft/keeper/grpc_query.go
Labels: modules/nft, automerge

#314 fix addLiquidity panic error
  CHANGELOG.md
  modules/coinswap/keeper/keeper.go
Labels: modules/coinswap, automerge
